<!DOCTYPE html>
<html>
  <head>
    <title>Mosaic</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Leckerli+One" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class:"alert alert-#{type} text-center" %>
    <% end %>

    <%= yield %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
